.Search{
    width: 40%;
}

.SearchBar{
    width: max-content;
    padding: 0;
    border: 2px solid #bbb;
    box-sizing: border-box;
}

.SearchInput, .SearchInput:in-range{
    border: none;
}

.SearchIcon{
    margin: 0 4px;
    cursor: pointer;
    color: #aaa;
}